* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  behavior: smooth;
  transition: all 0.3s;
}

#App {
  position: relative;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0vw 12vw;
}

/* header  */

#App .header {
  height: 66px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/header/header_background.jpg");
}

.header .container {
  gap: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto;
}

.header .container .item {
  height: 100%;
  min-width: 6vw;
  padding: 0px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header .container .item:hover {
  background: orange;
  filter: brightness(110%);
  color: #fffffffd;
}

.header .container .item.active {
  background: orange;
  filter: brightness(110%);
  color: #fffffffd;
}

.header .container .item a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: normal;
  color: #f6e29e;
  text-decoration: none;
}

.header .container .item a i{
  font-size: 30px;
}

.header .contaner-mobile {
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 2% 3%;
}

.header .contaner-mobile i {
  color: white;
  font-size: 40px;
}

.header .contaner-mobile .true {
  display: none;
}
.header .contaner-mobile .false {
  display: none;
}
.header .contaner-mobile .active {
  display: flex;
}

.header .menu-app {
  display: flex;
  gap: 1vh;
}

.header .menu-app .install-mobile {
  width: 126px;
  height: 48px;
  list-style: none;
  background: url(../img/twentyseventeen-chill.png);
}
.header .menu-app .app-install {
  background-position: 0 -350px;
}
.header .menu-app .app-install:hover {
  background-position: -298px -84px;
}
.header .menu-app .app-paycard {
  background-position: -457px -186px;
}
.header .menu-app .app-paycard:hover {
  background-position: -210px -268px;
}

.header .menu-app .install-mobile a {
  display: block;
  width: 100%;
  height: 100%;
}

/* sector1 */
.sector1 {
  background: url("../img/sector1/sector1_main.jpg") center/cover no-repeat;
  background-size: 300vh;
  background-position: center top 0vh;
  height: 97vh;
  display: flex;
  align-items: flex-end;
}

/* .sector1 .clear-fix { */
.clear-fix {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sector1 .clear-fix .container {
  background: none;
  margin-bottom: 12px;
  display: flex;
}

.sector1 .clear-fix .container .downLoad {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sector1 .clear-fix .container .downLoad img {
  max-height: 100px;
}

.sector1 .clear-fix .container .downLoad .headInfor {
  margin-left: 12px;
}

.sector1 .clear-fix .container .downLoad .headInfor .title {
  margin-bottom: 10px;
  color: #f6e7be;
  font-size: 17px;
}

.menuApp {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 12px;
}
.menuApp .appItem {
  background: url(../img/sector1/twentyseventeen-chill.png);
  text-decoration: none;
  background-repeat: no-repeat;
  text-indent: -9999px;
  cursor: pointer;
  text-decoration: none;
}

.sector1 .clear-fix .container .downLoad .headInfor .menuApp .appItem {
  width: 126px;
  height: 48px;
}

.sector1
  .clear-fix
  .container
  .downLoad
  .headInfor
  .menuApp
  .appItem#Android_App {
  background-position: -331px -186px;
}
.sector1
  .clear-fix
  .container
  .downLoad
  .headInfor
  .menuApp
  .appItem#Android_App:hover {
  background-position: -336px -268px;
}

.sector1 .clear-fix .container .downLoad .headInfor .menuApp .appItem#IOS_App {
  background-position: -79px -186px;
}
.sector1
  .clear-fix
  .container
  .downLoad
  .headInfor
  .menuApp
  .appItem#IOS_App:hover {
  background-position: -172px -84px;
}

.sector1 .clear-fix .container .downLoad .headInfor .menuApp .appItem#APK_App {
  background-position: -252px -350px;
}
.sector1
  .clear-fix
  .container
  .downLoad
  .headInfor
  .menuApp
  .appItem#APK_App:hover {
  background-position: -84px -268px;
}

.sector1 .clear-fix .container .downLoad .headInfor .menuApp .appItem#NOX_App {
  background-position: -326px -135px;
}
.sector1
  .clear-fix
  .container
  .downLoad
  .headInfor
  .menuApp
  .appItem#NOX_App:hover {
  background-position: -74px -135px;
}

.sector1 .clear-fix .container .rechargeCard {
  margin-left: 12px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.rechargeCard .menuApp .appItem {
  width: 105px;
  height: 106px;
}

.rechargeCard .menuApp .appItem#PayCard {
  background-position: -105px -432px;
}
.rechargeCard .menuApp .appItem#PayCard:hover {
  background-position: -372px -1014px;
}

.rechargeCard .menuApp .appItem#Guide {
  background-position: -371px -538px;
}
.rechargeCard .menuApp .appItem#Guide:hover {
  background-position: -315px -432px;
}

.rechargeCard .menuApp .appItem#Code {
  background-position: -420px -432px;
}
.rechargeCard .menuApp .appItem#Code:hover {
  background-position: 0 -432px;
}

/* sector2  */
.sector2 {
  background: #fbf2e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vw;
}

.sector2 .title {
  margin-top: 1vw;
  margin-bottom: 12px;
  width: 100%;
  height: 30px;
  background: url(../img/sector2/bg-block-new-event.png) center top no-repeat;
}

.sector2 h3 {
  display: none;
  text-transform: uppercase;
}

.sector2 .container {
  display: flex;
}

.sector2 .container .left {
  width: 45vw;
  cursor: pointer;
}
.sector2 .container .left .owl-carousel img {
  height: 30vw;
}
.sector2 .container .left .owl-carousel .owl-dots {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
}
.sector2 .container .left .owl-carousel .owl-dots button {
  width: 13px;
  height: 13px;
  margin: 13px 8px;
  background: #ffce58;
  border-radius: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 0px solid #e2b871;
}
.sector2 .container .left .owl-carousel .owl-dots button.active {
  width: 20px;
  height: 20px;
  background: #862c20;
  border: 3px solid wheat;
  padding: 30px;
}

.sector2 .container .left .owl-carousel .owl-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}

.sector2 .container .left .owl-carousel .owl-nav .owl-prev, .sector2 .container .left .owl-carousel .owl-nav .owl-next {
  background: url(../img/sector2/bg_direction_nav.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  font-size: 0;
  box-shadow: none !important;
  display: block;
  background-color: transparent;

  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: all 0.3s ease;
}

.sector2 .container .left .owl-carousel:hover .owl-nav .owl-prev {
  left: 0;
  opacity: 1;
  margin-left: 5px;
}
.sector2 .container .left .owl-carousel:hover .owl-nav .owl-next {
  right: 0;
  opacity: 1;
  margin-right: 5px
}

.sector2 .container .left .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: -40px;
  opacity: 0;
  top: 50%;
  transform: translateY(-100%);
}
 
.sector2 .container .left .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: -40px;
  opacity: 0;
  transform: translateY(-100%);
  top: 50%;
}

.sector2 .container .left .owl-carousel .owl-nav .owl-next {
  background-position: right 0;
  text-align: left;
}

.sector2 .container .right {
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  gap: 12px;
}

.sector2 .container .right .title {
  margin-top: 1px;
  margin-left: -5px;
  width: 100%;
  display: flex;
  gap: 2px;
  justify-content: flex-start;
}

.sector2 .container .right .title .item_title {
  cursor: pointer;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5f5f5f;
}
.sector2 .container .right .title .item_title.active {
  color: black;
  border-bottom: 3px solid black;
}

.sector2 .container .right .title .item_title:hover {
  border-bottom: 3px solid black;
}
.sector2 .container .right .content {
  margin-top: -25px;
}

.sector2 .container .right .content .content-body {
  display: none;
}

.sector2 .container .right .content .content-body.active {
  display: flex;
  flex-direction: column;
}

.sector2 .container .right .content .content-body .itemContent {
  border-top: 1px solid black;
  height: 71.59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2px;
  cursor: pointer;
}
.sector2 .container .right .content .content-body .itemContent:hover {
  background: #dec8c2;
}

.sector2 .container .right .content .content-body .itemContent .time {
  margin-bottom: 10px;
  color: #868686;
  cursor: pointer;
}

.sector2 .container .right .content .content-body .itemContent .titleContent {
  color: #464646;
}

.sector2 .container .right .content .content-body .itemContent .time strong {
  text-transform: uppercase;
  margin-right: 5px;
}
.sector2 .container .right .content .content-body .itemContent .time span {
  margin-left: 10px;
}
.sector2
  .container
  .right
  .content
  .content-body
  .itemContent
  .time
  span:hover {
  color: black;
}

.sector2 .container .right .content .content-body .itemContent .titleContent {
  text-transform: uppercase;
}

.sector2 .container .right button {
  padding: 2px;
  border: 1px solid #862c20;
  width: 100%;
}
.sector2 .container .right button span {
  background: #862c20;
  display: block;
  padding: 5px;
  color: #ffff;
  font-size: 17.6px;
  cursor: pointer;
}

.sector2 .container .right button span:hover {
  background: #bc4d37;
}

/* footer  */
.footer {
  background: #160305;
  color: #bdbcb9;
  border-top: solid 1px #681e19;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.footer .footer-social {
  padding: 20px 0;
  background: #4c1612;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer .row .social {
  margin: 0 auto;
}
.footer .row .social a:hover {
  filter: brightness(1.5);
}
.footer .row .social a img {
  width: 15vw;
}

.footer .row .social.social-youtube {
  display: none;
}

.footer .footer-warning {
  padding: 30px 0 60px 0;
}

.footer .footer-warning p {
  line-height: 1.8;
  margin-bottom: 10px;
  text-align: center;
  gap: 2vw;
  list-style: none;
}

.footer-warning p br {
  margin-bottom: 10px;
}

/* btn back-to-top */
.go-top-btn {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100px);
  border-radius: 3px 0px;
  transition: transform 0.5s;
  cursor: pointer;
  height: 50px;
  width: 70px;
  background: #f6a628;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
.go-top-btn:hover {
  color: black;
}

/* sideBar  */
.sideBar {
  z-index: 9999;
}
.sideBar .menuApp {
  position: fixed;
  width: 186px;
  display: flex;
  flex-direction: column;
  height: 449px;
  right: 0;
  bottom: 50%;
  transform: translate(150px, 50%);
  background: url(../img/twentyseventeen-chill.png);
  background-position: 0 -1014px;
  transition: transform 1s;
  list-style: none;
  cursor: pointer;
  gap: 0px;
}

.menuApp li {
  display: inline-block;
  margin-left: 50px;
  margin-top: 8px;
  border: 0;
}

.menuApp li a {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  background-image: url(../img/twentyseventeen-chill.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
  text-decoration: none;
}

.menuApp .app_mobile a {
  width: 126px;
  height: 50px;
}

.menuApp .app_mobile .Adroid {
  background-position: -331px -186px;
}
.menuApp .app_mobile .Adroid:hover {
  background-position: -336px -268px;
}

.menuApp .app_mobile .IOS {
  background-position: -79px -186px;
}
.menuApp .app_mobile .IOS:hover {
  background-position: -172px -84px;
}

.menuApp .app_mobile .APK {
  background-position: -252px -350px;
}
.menuApp .app_mobile .APK:hover {
  background-position: -84px -268px;
}

.menuApp .app_AddCard {
  margin-left: 47px;
}

.menuApp .app_AddCard .addCard {
  width: 133px;
  height: 73px;
  background-position: 0 -538px;
}
.menuApp .app_AddCard .addCard:hover {
  background-position: -133px -538px;
}

.menuApp .app_Home {
  display: flex;
  gap: 10px;
}

.menuApp .app_Home a {
  width: 59px;
  height: 44px;
}
.menuApp .app_Home a:hover {
  filter: brightness(1.5);
}

.menuApp .app_Home .home {
  background-position: -54px -84px;
}
.menuApp .app_Home .fanpage {
  background-position: -419px 0;
}

.menuApp .app_Logo {
  width: 124px;
  height: 124px;
  overflow: hidden;
}

.menuApp .app_Logo .customLogo {
  text-indent: unset;
  background: none;
}

.menuApp .app_Logo .customLogo img {
  max-height: 115px;
  width: 100%;
}

@media screen and (max-width: 1124px) {
  /* header  */
  .header {
    height: 100% !important;
    flex-direction: column;
  }

  .header .container.hide {
    display: none;
  }

  .header .contaner-mobile {
    display: flex;
  }

  .header .container {
    border-top: 1px solid white;
    padding: 1% 3%;
    flex-direction: column;
    gap: 1.5vh;
  }

  .header .container .item {
    width: 100%;
    padding: 2% 2%;
  }

  .header .container .item a {
    font-size: 1.5rem;
    justify-content: flex-start;
  }

  .header .contaner-mobile {
    display: flex;
  }

  .container {
    padding: 0px 50px;
    margin: 0px;
  }

  /* sector1  */
  .sector1 {
    background-size: 200vw;
    height: 63vw;
  }
  .sector1 .clear-fix {
    margin-bottom: 0;
    /* background: #8d2c21; */
  }
  .sector1 .clear-fix .container .rechargeCard {
    display: none;
  }
  .sector1 .clear-fix .container {
    margin: 0vw 0vw;
  }
  .sector1 .clear-fix .container .downLoad {
    padding: 2vw 0;
    width: 100%;
  }
  .sector1 .clear-fix .container .downLoad .headInfor .menuApp {
    display: none;
  }

  /* sector2  */
  .sector2 {
    padding-top: 3vw;
  }
  .sector2 .title {
    background: none;
  }
  .sector2 .container {
    display: flex;
    flex-direction: column;
  }
  .sector2 .container .left {
    width: 100%;
  }
  .sector2 h3 {
    display: flex;
    font-size: 3vw;
  }
  .sector2 .container .left .side {
    width: 100%;
    margin-bottom: 5vw;
  }
  .sector2 .container .right {
    margin-bottom: 3vw;
  }
  .owl-stage-outer {
    height: 80vw;
  }

  .sector2 .container .left .owl-carousel img{
    height: 80vw;
  }

  /* footer  */
  .footer .row .social a img {
    width: 23vw;
  }
  .footer .row .social.social-youtube {
    display: flex;
  }
}

@media screen and (max-width: 760px) {
  .header {
    height: 100% !important;
    flex-direction: column;
  }

  .header .container.hide {
    display: none;
  }
  .header .container {
    border-top: 1px solid white;
    padding: 1% 3%;
    flex-direction: column;
    gap: 1.5vh;
  }

  .header .container .item {
    width: 100%;
    padding: 2% 2%;
  }

  .header .container .item a {
    font-size: 1.5rem;
    justify-content: flex-start;
  }

  .header .contaner-mobile {
    display: flex;
  }

  .container {
    padding: 0px 15px;
    margin: 0px;
  }

  /* sector_1 */
  .sector1 {
    background: url(../img/sector1/responesive/h01-1.png) no-repeat;
    background-position: center top 0vh;
    background-size: 100%;
    height: 150vw;
  }
  .sector1 .clear-fix {
    margin-bottom: 0;
    background: #8d2c21;
  }
  .sector1 .clear-fix .container .rechargeCard {
    display: none;
  }
  .sector1 .clear-fix .container .downLoad {
    padding: 2vw 0;
    width: 100%;
  }
  .sector1 .clear-fix .container .downLoad .headInfor .menuApp {
    display: none;
  }

  /* sector2  */
  .sector2 {
    margin-top: 3vw;
  }
  .sector2 .container {
    display: flex;
    flex-direction: column;
  }
  .sector2 h3 {
    display: flex;
  }
  .sector2 .container .left .side {
    width: 100%;
    margin-bottom: 5vw;
  }
  .sector2 .container .right {
    margin-bottom: 3vw;
  }

  /* footer  */
  .footer .row .social a img {
    width: 23vw;
  }
  .footer .row .social.social-youtube {
    display: flex;
  }

  /* side-bar  */
  .sideBar .menuApp{
    right: 6vw;
  }
}
