* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* sector2  */
.sector2 {
  background: #fbf2e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vw;
}

.sector2 .title {
  margin-top: 1vw;
  margin-bottom: 12px;
  width: 100%;
  height: 30px;
  background: url(../img/sector2/bg-block-new-event.png) center top no-repeat;
}

.sector2 h3 {
  display: none;
  text-transform: uppercase;
}

.sector2 .container {
  display: flex;
}

.sector2 .container .left {
  width: 45vw;
  cursor: pointer;
}
.sector2 .container .left .owl-carousel img {
  height: 30vw;
}
.sector2 .container .left .owl-carousel .owl-dots {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
}
.sector2 .container .left .owl-carousel .owl-dots button {
  width: 13px;
  height: 13px;
  margin: 13px 8px;
  background: #ffce58;
  border-radius: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 0px solid #e2b871;
}
.sector2 .container .left .owl-carousel .owl-dots button.active {
  width: 20px;
  height: 20px;
  background: #862c20;
  border: 3px solid wheat;
  padding: 30px;
}

.sector2 .container .left .owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sector2 .container .left .owl-carousel .owl-nav button {
  background: url(../img/sector2/bg_direction_nav.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  font-size: 0;
  box-shadow: none !important;
  display: block;
  background-color: transparent;

  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: all 0.3s ease;
}

.sector2 .container .left .owl-carousel .owl-nav .owl-next {
  background-position: right 0;
  text-align: left;
}


.sector2 .container .right {
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  gap: 12px;
}

.sector2 .container .right .title {
  margin-top: 1px;
  margin-left: -5px;
  width: 100%;
  display: flex;
  gap: 2px;
  justify-content: flex-start;
}

.sector2 .container .right .title .item_title {
  cursor: pointer;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5f5f5f;
}
.sector2 .container .right .title .item_title.active {
  color: black;
  border-bottom: 3px solid black;
}

.sector2 .container .right .title .item_title:hover {
  border-bottom: 3px solid black;
}
.sector2 .container .right .content {
  margin-top: -25px;
}

.sector2 .container .right .content .content-body {
  display: none;
}

.sector2 .container .right .content .content-body.active {
  display: flex;
  flex-direction: column;
}

.sector2 .container .right .content .content-body .itemContent {
  border-top: 1px solid black;
  height: 71.59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2px;
  cursor: pointer;
}
.sector2 .container .right .content .content-body .itemContent:hover {
  background: #dec8c2;
}

.sector2 .container .right .content .content-body .itemContent .time {
  margin-bottom: 10px;
  color: #868686;
  cursor: pointer;
}

.sector2 .container .right .content .content-body .itemContent .titleContent {
  color: #464646;
}

.sector2 .container .right .content .content-body .itemContent .time strong {
  text-transform: uppercase;
  margin-right: 5px;
}
.sector2 .container .right .content .content-body .itemContent .time span {
  margin-left: 10px;
}
.sector2
  .container
  .right
  .content
  .content-body
  .itemContent
  .time
  span:hover {
  color: black;
}

.sector2 .container .right .content .content-body .itemContent .titleContent {
  text-transform: uppercase;
}

.sector2 .container .right button {
  padding: 2px;
  border: 1px solid #862c20;
  width: 100%;
}
.sector2 .container .right button span {
  background: #862c20;
  display: block;
  padding: 5px;
  color: #ffff;
  font-size: 17.6px;
  cursor: pointer;
}

.sector2 .container .right button span:hover {
  background: #bc4d37;
}
